@model IEnumerable<WebApplication1.DataModels.Student>

@{
    ViewData["Title"] = "form";
}


<div>logIn</div>
<form method="post">

    <div>Email</div>
    <input type="email" />

    <div>Password</div>
    <input type="password" />

    <input type="submit" />
</form>
